:root {
  --border-radius: 8px;
  --font: Helvetica, Arial, sans-serif;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  font-family: var(--font);
  color: rgb(var(--foreground-rgb));
  background:
    rgb(var(--background-start-rgb))
    linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    );
  margin: 0;
}
