.nodeTree {
  transition: 0.5s ease-in-out transform;
  position: absolute;
  background: #fff;
  border-radius: var(--border-radius);
  border: 1px solid var(--gray-light);
  z-index: 1;
  text-align: left;
  display: block;
  font-size: 11px;
}
